<h2>Registracija</h2>

<form (submit)="$event.preventDefault()">
  <div>
    <label>Ime:</label><br>
    <input type="text" #name>
  </div>

  <div>
    <label>Email:</label><br>
    <input type="email" #email>
  </div>

  <div>
    <label>Password:</label><br>
    <input type="password" #password>
  </div>

  <div>
    <label>Tema:</label><br>
    <select #theme>
      <option value="light">Svijetla</option>
      <option value="dark">Tamna</option>
      <option value="blue">Plava</option>
    </select>
  </div>

  <br>
  <button
    type="button"
    (click)="register(name.value, email.value, password.value, theme.value)">
    Register
  </button>
</form>

<p>
  Već imaš račun?
  <a href="/login">Login</a>
</p>
